<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <TransportConfig MaxRetries="2" />
  <SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:50" NumberOfRetries="3" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
  <MsmqSubscriptionStorageConfig Queue="OrderAutomation.Saga" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="OrderAutomation.Contracts" Type="OrderAutomation.Contracts.CreateOrderCommand" Endpoint="OrderAutomationSaga.CreateOrder" />
      <add Assembly="OrderAutomation.Contracts" Type="OrderAutomation.Contracts.CreateOrderDocumentsCommand" Endpoint="OrderAutomationSaga.CreateOrderDocuments" />
      <add Assembly="OrderAutomation.Contracts" Type="OrderAutomation.Contracts.BookOrderAppointmentCommand" Endpoint="OrderAutomationSaga.BookAppointment" />
      <add Assembly="OrderAutomation.Contracts" Type="OrderAutomation.Contracts.CreateOrderTasksCommand" Endpoint="OrderAutomationSaga.CreateTasks" />
      <add Assembly="OrderAutomation.Contracts" Type="OrderAutomation.Contracts.SendOrderTransmissionsCommand" Endpoint="OrderAutomationSaga.SendTransmissions" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="NServiceBus/Transport"
         connectionString="host=localhost"/>
  </connectionStrings>
</configuration>